{% load i18n admin_urls %}

<div {% if not is_popup %}id="submit-row"{% endif %} class="fixed top-0 left-0 right-0 z-50">
    <div class="w-full" {% if not is_popup %}x-bind:class="{'xl:left-0': !sidebarDesktopOpen, 'xl:left-72': sidebarDesktopOpen}"{% endif %}>
        <div class="bg-white dark:bg-gray-900 {% if not is_popup %}border-b px-4 py-4 lg:px-12 dark:border-gray-800{% endif %}">
            <div class="container flex flex-col-reverse gap-3 items-center mx-auto lg:flex-row-reverse">
                {% block submit-row %}

                        <button type="submit" name="_save" class="bg-primary-600 block border border-transparent font-medium px-3 py-2 rounded-md text-white w-full lg:w-auto">
                            {% translate 'Save' %}
                        </button>

                    {% comment %} {% for action in actions_submit_line %}
                        <button type="submit" {% if not action.attrs.name %}name="{{ action.action_name }}"{% endif %} class="border font-medium px-3 py-2 rounded-md transition-all w-full hover:bg-gray-50 lg:w-auto dark:border-gray-700 dark:hover:text-gray-200 dark:hover:bg-gray-900" {% include "unfold/helpers/attrs.html" with attrs=action.attrs %}>
                            {{ action.description }}
                        </button>
                    {% endfor %} {% endcomment %}

                    <ul class="border flex flex-col font-medium mb-4 mt-2 rounded-md shadow-sm md:flex-row md:mb-2 md:mt-0 dark:border-gray-800 max-md:w-full">
                        {% for action in actions_detail %}
                            {% include "unfold/helpers/tab_action.html" with title=action.title link=action.path %}
                        {% endfor %}

                    </ul>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
