*
!account
!additional_dockerignore
!admin
!allauth
!allauth_ui
!api_providers
!apollo_people_search
!auth
!auto_factory_model
!auto_tests
!automations
!base_app_config
!base_model
!base_model_admin
!behave_django
!bluewind
!channels
!chat_messages
!contenttypes
!credentials
!db_graph
!debug_toolbar
!django-user-sessions
!django_extensions
!django_object_actions
!features
!gmail_events
!gmail_subscriptions
!google
!google_backend_service_account.json
!gunicorn_config.py
!health_check
!homepage
!manage.py
!messages
!migrations
!model_clone
!modify_admin
!people
!poetry.lock
!public_id
!pyproject.toml
!requirements.txt
!sites
!slippers
!socialaccount
!static
!staticfiles
!user_sessions
!users
!webhook_tester
!widget_tweaks
!workspace_filter
!workspaces
