*
!account
!actions
!additional_dockerignore
!admin
!admin_autoregister
!admin_autoregister.py
!allauth
!allauth_ui
!api_calls
!api_providers
!apollo_people_search
!app_logs
!auth
!auto_factory_model
!auto_tests
!automations
!base64_utils
!base_model
!base_model_admin
!behave_django
!bluewind
!channel_wizzard
!channels
!chat_messages
!contenttypes
!credentials
!db_graph
!debug_toolbar
!django_extensions
!django_json_widget
!django_object_actions
!draft_messages
!drf_spectacular
!drf_standardized_errors
!entity
!features
!flows
!forms
!gmail_events
!gmail_subscriptions
!google
!google_backend_service_account.json
!gunicorn_config.py
!health_check
!incoming_http_requests
!manage.py
!messages
!migrations
!model_clone
!modify_admin
!people
!poetry.lock
!pyproject.toml
!requirements.txt
!rest_framework
!sessions
!sites
!slippers
!socialaccount
!static
!staticfiles
!unfold
!users
!webhook_tester
!widget_tweaks
!workspace_snapshots
!workspaces
