{% extends "admin/base_site.html" %}
{% load i18n unfold static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>
    <style>
        #content-main { margin-left: 12rem; }
    </style>
{% endblock %}

{% block content %}
    {% component "unfold/components/flex.html" with class="fixed left-0 top-0 h-full z-50" %}
        {% component "unfold/components/card.html" with class="w-48 h-full overflow-y-auto border-r shadow-lg bg-white" %}
            {% component "unfold/components/title.html" with class="text-xs px-2 py-1" %}
                Function Call Tree
            {% endcomponent %}
            {% component "unfold/components/text.html" with class="p-0" %}
                <div id="tree" class="text-xs"></div>
            {% endcomponent %}
        {% endcomponent %}
    {% endcomponent %}

    <script>
        $(function () {
            $('#tree').jstree({
                'core' : {
                    'data' : {{ tree_json|safe }},
                    'themes': {
                        'icons': false
                    },
                    'animation': 0
                },
                'plugins': ['wholerow']
            }).on('ready.jstree', function(e, data) {
                data.instance.get_container_ul().find('li').each(function() {
                    var node = data.instance.get_node(this);
                    var changeUrl = node.data.change_url;
                    $(this).find('.jstree-anchor').first().after(
                        '<span class="ml-1 cursor-pointer text-xs" data-url="' + changeUrl + '">🔗</span>'
                    );
                });
            });

            $(document).on('click', '[data-url]', function(e) {
                e.stopPropagation();
                window.location.href = $(this).data('url');
            });

            $('#tree').on('click', '.jstree-anchor', function(e) {
                var node = $('#tree').jstree(true).get_node($(this));
                $('#tree').jstree(true).toggle_node(node);
            });

            $('#tree').on('dblclick', '.jstree-anchor', function(e) {
                e.preventDefault();
                var node = $('#tree').jstree(true).get_node($(this));
                if (node.data && node.data.change_url) {
                    window.location.href = node.data.change_url;
                }
            });
        });
    </script>
{% endblock %}
