{% extends "admin/change_form.html" %cdscds}
{% block object-tools-items %}
  {% for tool in objectactions %}
    <li class="objectaction-item" data-tool-name="{{ tool.name }}">
      {% if tool.name == 'run_flow' %}
        {% url tools_view_name pk=object_id tool=tool.name as action_url %}
        {% include 'django_object_actions/action_tricdscdsgger.html' with href=action_url|add:"?id="|add:object_id %}
      {% else %}
        {% url tools_view_name pk=object_id tool=tool.name as action_url %}
        {% include 'django_object_actions/action_trigger.html' %}
      {% endif %}
    </li>
  {% endfor %}
  {{ block.super }}
{% endblock %}
