{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<style>
    .container {
        display: flex;
        width: 100%;
    }
    #mynetwork {
        width: 50%;
        height: 600px;
        border: 1px solid lightgray;
    }
    .form-container {
        width: 50%;
        padding-left: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div id="mynetwork"></div>
    <div class="form-container">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Run Flow" class="default">
        </form>
    </div>
</div>

<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var container = document.getElementById('mynetwork');
        var rawData = '{{ graph_data|escapejs }}';
        console.log('Raw graph data:', rawData);

        var data;
        try {
            data = JSON.parse(rawData);
            console.log('Parsed graph data:', data);
        } catch (error) {
            console.error('Error parsing JSON:', error);
            return;  // Exit the function if JSON parsing fails
        }

        // Only proceed if we have valid data
        if (data && data.nodes && data.edges) {
            var options = {
                layout: {
                    hierarchical: {
                        direction: 'UD',
                        sortMethod: 'directed'
                    }
                },
                nodes: {
                    shape: 'box',
                    fixed: {
                        x: true,
                        y: true
                    }
                },
                edges: {
                    arrows: 'to'
                },
                interaction: {
                    dragNodes: false,
                    dragView: false,
                    zoomView: false
                }
            };
            var network = new vis.Network(container, data, options);

            network.on("click", function(params) {
                if (params.nodes.length > 0) {
                    var nodeId = params.nodes[0];
                    var clickedNode = data.nodes.find(node => node.id === nodeId);
                    console.log('Clicked node:', clickedNode.label);
                    // You can add more functionality here
                }
            });
        } else {
            console.error('Invalid graph data structure');
        }
    });
</script>
{% endblock %}
