<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var container = document.getElementById('mynetwork');
        var rawData = '{{ graph_data|escapejs }}';
        console.log('Raw graph data:', rawData);

        var data;
        try {
            data = JSON.parse(rawData);
            console.log('Parsed graph data:', data);
        } catch (error) {
            console.error('Error parsing JSON:', error);
            return;  // Exit the function if JSON parsing fails
        }

        // Only proceed if we have valid data
        if (data && data.nodes && data.edges) {
            var options = {
                layout: {
                    hierarchical: {
                        direction: 'UD',
                        sortMethod: 'directed'
                    }
                },
                nodes: {
                    shape: 'box',
                    fixed: {
                        x: true,
                        y: true
                    }
                },
                edges: {
                    arrows: 'to'
                },
                interaction: {
                    dragNodes: false,
                    dragView: false,
                    zoomView: false
                }
            };
            var network = new vis.Network(container, data, options);

            network.on("click", function(params) {
                if (params.nodes.length > 0) {
                    var nodeId = params.nodes[0];
                    var clickedNode = data.nodes.find(node => node.id === nodeId);
                    console.log('Clicked node:', clickedNode.label);
                    // You can add more functionality here
                }
            });
        } else {
            console.error('Invalid graph data structure');
        }
    });
</script>
