{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.9.2/jsoneditor.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}
{{ block.super }}
<button onclick="toggleJsonEditor()" style="margin-left: 10px;">Toggle JSON Editor</button>
{% endblock %}

{% block footer %}
    {{ block.super }}
    {% include 'json_editor.html' %}
    
    <!-- Embed data for JavaScript -->
    {% if flows_data %}
        {{ flows_data|json_script:"initial-data" }}
        <script>console.log('Raw flows_data:', {{ flows_data|safe }});</script>
    {% else %}
        <script>console.log('flows_data is not available in the context');</script>
    {% endif %}
    
    <script>
        const initialDataElement = document.getElementById('initial-data');
        console.log('Raw JSON content:', initialDataElement ? initialDataElement.textContent : 'Element not found');
        try {
            const initialData = JSON.parse(initialDataElement ? initialDataElement.textContent : '{}');
            window.initialData = {
                flows: initialData.flows || []
            };
            console.log('Parsed initialData:', window.initialData);
        } catch (error) {
            console.error('Error parsing JSON:', error);
            window.initialData = { flows: [] };
        }
    </script>
    
    <script src="{% static 'bluewind/js/admin_shortcuts.js' %}"></script>
{% endblock %}